// VARIEBLES COLOR
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$secondary-back-color: #E5E5E5;
$disabled-color: #B4B4B4;
$gray-text-color: #7E7E7E;
$border-color: #D0CFCF;
$error-color: #CB3D40;
$black87: rgba(0, 0, 0, 0.87);
$white87: rgba(255, 255, 255, 0.87);
$hover-color: #FFE302;



// FONTS
$paragraph-size-m: 16px;
$paragraph-LineHeight-m: 26px;
$paragraph-size-sm: 12px;
$paragraph-LineHeight-sm: 14px;
$title-text-size: 40px;
$title-text-line-height: 40px;
$paragraph-weight: 400;