@use 'src/styles/_variables.scss' as *;


.title_heder_sections {
    font-size: $title-text-size;
    line-height: $title-text-line-height;
    font-weight: 400;

    width: 328px;

    margin-bottom: 50px;

    text-align: center;

    color: $black87;

    @media screen and (min-width: 768px) {
        width: auto;
    }
}