@use 'styles/_variables.scss' as *;

.buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 4px 22px;
    min-width: 100px;

    border: none;
    outline: none;
    border-radius: 80px;

    font-family: Nunito;
    font-size: $paragraph-size-m;
    line-height: $paragraph-LineHeight-m;

    background-color: $primary-color;
    color: $black87;

    cursor: pointer;

    &:hover,
    :focus {
        background-color: $hover-color;
    }
}