.header_conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 13px 16px;
    min-width: 328px;


    @media screen and (min-width: 768px) {
        min-width: 768px;
    }

    @media screen and (min-width: 1024px) {
        min-width: 1024px;
    }

}

.buttons_conteiner {
    display: flex;

    grid-gap: 10px;
}

.icons_task {
    display: block;
}

.icons {
    display: block;
    width: 20px;
    height: 20px;
}