@use 'src/styles/_variables.scss' as *;

.header_wrapper {


    width: 100%;

    background-color: $white87;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

.header_conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 13px 16px;
    min-width: 328px;

    @media screen and (min-width: 768px) {
        padding: 13px 32px;
        min-width: 704px;
    }

    @media screen and (min-width: 1024px) {
        padding: 13px 60px;
        min-width: 904px;
    }

    @media screen and (min-width: 2560px) {
        padding: 13px 695px;
        min-width: 1170px;
    }

}

.buttons_conteiner {
    display: flex;

    grid-gap: 10px;
}

.icons_task {
    display: block;
}

.icons {
    display: block;
    width: 20px;
    height: 20px;
}