@use 'src/styles/_variables.scss' as *;

.forms_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 16px 100px 16px;
    min-width: 328px;

    background-color: inherit;

    @media screen and (min-width: 768px) {

        padding: 0px 32px 100px 32px;
        min-width: 704px;
    }

    @media screen and (min-width: 1024px) {

        padding: 0px 60px 100px 60px;
        min-width: 904px;
    }

    @media screen and (min-width: 2560px) {
        padding: 0px 0px;
        min-width: 1170px;
    }

}